.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.shape {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:center;
  line-height:normal;
}
.image {
}
.placeholder {
}
.button {
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_area {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.connector {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.marker {
  color:#FFFFFF;
}
.image1 {
  color:#000000;
}
.horizontal_line {
}
.table {
}
.table_cell {
}
.text_field {
  color:#000000;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.shape1 {
}
.box_11 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.box_21 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
.vertical_line {
}
.inputformstyle {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.shape2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
}
.icon {
}
.materialicons {
  font-family:'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.paragraph2 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.heading_12 {
  font-family:'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_22 {
  font-family:'Roboto';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.primary_text_dark {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.flat_button {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.ellipse1 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
.image2 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
}
.divider {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.258823529411765);
}
.paragraph3 {
  color:#666666;
  text-align:left;
}
.text_field1 {
  color:#666666;
  text-align:left;
}
